
body {
    background-color: whitesmoke;
    font-family: "Helvetica Neue";
    color: whitesmoke;
    text-align: center;


}

#in-alto {
    font-size: 200%;
    background-color: dodgerblue;
    color: whitesmoke;
}

h1 {
    text-transform: uppercase;
}




#in-basso {
    background-color: palevioletred;
    
}
