
body {
    font-size: 300%;
    background-color: whitesmoke;
    font-family: "Helvetica neue";
    color: whitesmoke;
    text-align: center;
}

#in-alto {
    background-color: dodgerblue;
    color: whitesmoke;
        font-weight: lighter;

}

#in-basso {
    max-width: 750px;
    margin: 0 auto;
    
    background-color: palevioletred;
    
}

h1 {
    text-transform: uppercase;
    margin-top: auto;
}


